doctype html
html
  head
    title= `Form ID: ${selectedFormId}`
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap' rel='stylesheet')
    style.
      body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      .container {
        text-align: left;
      }
      h1, h2, p {
        margin-bottom: 20px;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      a, button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        width: 100px;
        text-align: center;  // center the text
      }
      a {
        background-color: #a9a9a9;  // darker gray
      }
      button {
        background-color: #28a745;
        border: none;
        cursor: pointer;
      }
  body
    .container
      h1= `Form ID: ${selectedFormId}`
      h2= `Number stories: ${numStories}`
      if currentImage
        h2= `Image: ${currentUiIndex} / ${maxUiIndex}`
        p= `Story ID: ${currentImage.storyId}`
        p= `Image ID: ${currentImageId}`
        p= `Status: ${currentImage.status}`
        img(src=`data:image/png;base64,${currentImage.imageB64}`)
      if nextImageId
        a(href=`/form?formId=${selectedFormId}&imageId=${nextImageId}`) Next
        button(id="approveButton") Approve
        script.
          const currentImage = !{JSON.stringify(currentImage)};
          const currentImageId = !{JSON.stringify(currentImageId)};
          document.getElementById('approveButton').addEventListener('click', async () => {
            const storyId = currentImage.storyId;
            const imageId = currentImageId;
            const response = await fetch('/approve-image', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ storyId, imageId })
            });
            const result = await response.json();
            console.log('Server response:', result);
          });
